.form-input-wrapper {
    position: relative;
    border-top: 0;
    border-left: 2px solid $pink;
    border-right: 2px solid $pink;
    border-bottom: 2px solid $pink;
    padding: .675rem;

    input {
        padding: 0;
    }
}

@media screen and (min-width: $tablet-portrait) {
    .form-input-wrapper {
        display: flex;
        padding: 0;

        input, label, textarea {
            padding: .675rem;
        }

        input {
            flex: 2 1 0;
        }

        label {
            flex: 1 1 10px;
        }
    }
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="phone"], 
textarea {
    background-color: white;
    border: 0 solid #ccc;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    resize: none;
    line-height: 1.35rem;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

textarea {
    resize: vertical;
    vertical-align: top;
    height: auto;
}

form {
    background: white;
}

button, .buttonlike, [type="submit"] {
    background-color: #8378c9;  
    background: linear-gradient(#8378c9 0%, #635b99 100%);
    border: 2px solid $purple;
    color: white;
    display: block;      
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center; 
    text-decoration: none;
    transform: none;
    width: 100%;
}

button:active, .buttonlike:active, [type="submit"]:active,
button:hover, .buttonlike:hover, [type="submit"]:hover,
button:focus, .buttonlike:focus, [type="submit"]:focus {
    color: white;
    text-decoration: none;  
    background-color: #635b99;
    background: linear-gradient(#635b99 0%, #8378c9 100%);
}

.button:visited, .buttonlike:visited, [type="submit"]:visited {
    color: white;
}

.form-field--checkboxes {
    .form-input-wrapper {
        border: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-left: 2px solid $pink;
        border-right: 2px solid $pink;

        @media screen and (min-width: $tablet-portrait) {
            flex-direction: row;

            label:first-child {
                width: 100%;
            }
        }
    }

    label {
        align-content: center;
        display: flex;
        flex: 1 0 auto;
        font-size: 1rem;
        justify-content: flex-start;

        @media screen and (min-width: $tablet-portrait) {
            padding: .675rem;
        }

        span {
            flex-shrink: 1; 
            flex-grow: 0; 
            flex-basis: auto;
        }
    }

    input[type="checkbox"] {
        height: 15px;
        width: 15px;
        flex: 0;
        margin-right: 15px;
    }

    .checkboxes {
        flex: 1 1 auto;

        &:hover {
            background: #ccc;
        }
    }
}
