.form-input-wrapper   {
    position: relative;
    display: flex;
    border-top: 0;
    border-left: 2px solid $pink;
    border-right: 2px solid $pink;
    border-bottom: 2px solid $pink;

    input {
        flex: 2 1 0;
        padding: .675rem;
    }

    label {
        flex: 1 1 10px;
        padding: .675rem;

    }
}


input[type="text"],
input[type="search"],
input[type="tel"],
input[type="phone"], 
textarea {
    background-color: white;
    border: 0 solid #ccc;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    resize: none;

    padding: .675rem;
    height: 2.7rem;
    line-height: 1.35rem;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

textarea {
    resize: vertical;
    vertical-align: top;
    height: auto;
}

form {
    background: white;
}

button, .buttonlike, [type="submit"] {
    background-color: #8378c9;  
    background: linear-gradient(#8378c9 0%, #635b99 100%);
    border: 2px solid $purple;
    color: white;
    display: block;      
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center; 
    text-decoration: none;
    transform: none;
    width: 100%;
}

button:active, .buttonlike:active, [type="submit"]:active,
button:hover, .buttonlike:hover, [type="submit"]:hover,
button:focus, .buttonlike:focus, [type="submit"]:focus {
    color: white;
    text-decoration: none;  
    background-color: #635b99;
    background: linear-gradient(#635b99 0%, #8378c9 100%);
}

.button:visited, .buttonlike:visited, [type="submit"]:visited {
    color: white;
}

.form-field--checkboxes {

    .form-input-wrapper {
        border: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-left: 2px solid $pink;
        border-right: 2px solid $pink;

        @media screen and (min-width: $tablet-portrait) {
            flex-direction: row;
        }
    }

    label {
        align-content: center;
        border-bottom: 0;
        border: 0;
        display: flex;
        flex: 1 0 auto;
        font-size: 1rem;
        height: auto;
        justify-content: flex-start;
        padding: .675rem;

        span {
            flex-shrink: 1; 
            flex-grow: 0; 
            flex-basis: auto;
        }
    }

    input[type="checkbox"] {
        height: 15px;
        width: 15px;
    }

    .checkboxes {
        display: block  ;
        flex: 1 1 auto;

        &:hover {
            background: #ccc;
        }
    }
}
