html, body {
    margin: 0;
    padding: 0;
}    

.container {
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
    padding: $whitespace-small;

    > * {
        padding: $whitespace-small;        
    }

    @media screen and (min-width: $tablet-portrait) {
        max-width: $max-content-width;
        max-width: 90vw; 

        > * {
            padding: 0;
        }
    }
}

.main-content > section {
    padding: $whitespace-small 0;
}

.site-header {
    display: flex; 
    flex-direction: column;
}

.logo {
    margin-right: $whitespace-small;       
}


.section-services {
    position: relative;

    &::before {
        content: " ";
        display: block;
        background-color: $light-blue;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 50% 10%;
        position: absolute;
        width: calc(100% + 20vw);
        height: calc(100% + 10vw);
        z-index: -1;
        left: -10vw;
        top: -5vw;
    }
}

.site-footer__contactform,
.site-footer__contact {
    color: white;
    position: relative;
    padding-top: $whitespace-medium;

    &::before {
        background: $purple;
        content: ' ';
        width: calc(100% + 20vw);
        height: 100%;
        display: block;
        position: absolute;
        z-index: -1;
        left: -10vw;
        top: 0;
    }
}

.site-footer__contact {
    padding-top: 0;
}
 

@media screen and (min-width: $tablet-portrait) {

    .container {
        padding: 0;
    }
    
    .site-header {
        justify-items: flex-end;
        flex-direction: row;
        padding: $whitespace-medium $padding-left-and-right 0;
        
        nav {
            margin-left: auto;
            text-align: right;
        }
    }

    .site-main {
        display: grid; 
        grid-template-columns: 
                $padding-left-and-right
            [main-start] 
                27fr
            [main-end]
                2fr 
            [sidebar-start] 
                11fr 
            [sidebar-end main-end] 
                $padding-left-and-right;
        grid-template-rows: auto;
        padding-bottom: ($whitespace-medium * 2);
    }

    .main-area {
        grid-area: main;

        &:first-child {
            grid-row: 1;
        }

        &:nth-child(2) {
            grid-row: 2;
        }

        .main-content {
            display: grid; 
            grid-template-columns: 
                [main-start content-start values-start] 
                    25fr
                [content-end] 
                    2fr 
                [values-end];
            grid-template-rows: auto;
        }
    }

    .side-content {
        grid-area: sidebar;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .widget__title {
            margin-top: $whitespace-small;
        }
    }

    .side-content--blog {
        justify-content: flex-start;
    }

    .main-content > section {
        padding: $whitespace-medium 0;
    }

    .section-services {
        position: relative;

        &::before,
        &::after {
            content: " ";
            display: block;
            background-color: $light-blue;
            border-bottom-right-radius: 40%;
            border-bottom-left-radius: 0;
            position: absolute;
            width: calc(100% + 400px);
            height: calc(100%);
            z-index: -1;
            left: -$padding-left-and-right;
            top: -0px;
        }

        &::after {
            border-radius: 0;
            width: 50vw;
            left: -50vw;
        }
        
        .grid {
            display: grid;
            grid-template-columns: 14fr 1fr 14fr;
            grid-template-rows: repeat(2, min-content $whitespace-medium $whitespace-medium $whitespace-medium) min-content;
            grid-template-areas: 
                "service-1 . service-2"
                " .        . service-2"
                "service-3 . service-2"
                "service-3 . .        "
                "service-3 . service-4"
                "service-3 . service-4"
                " .        . .        "
                "service-5 . service-6"
                "service-5 . service-6";
        }
    }

        .service-1 {
            grid-area: service-1;
        }

        .service-2 {
            grid-area: service-2;
        }

        .service-3 {
            grid-area: service-3;
        }

        .service-4 {
            grid-area: service-4;
        }

        .service-5 {
            grid-area: service-5;
        }

        .service-6 {
            grid-area: service-6;
        }

    .section-values {
        grid-column: values;
    }

    .list-values  {
        padding-left: 0px;
    }

    .site-footer {
        position: relative;
        display: grid; 
        grid-template-columns: 
                    $padding-left-and-right
                [header-start footer-start] 
                    14fr
                [header-end form-start purplebg-start] 
                    1fr
                    12fr    
                    2fr
                    [form-end]  
                    2fr
                [summary-start] 
                    11fr
                [summary-end footer-end] 
                    $padding-left-and-right
                [purplebg-end];
        grid-template-rows: repeat(2, min-content);

        &::before,
        &::after {
            background: $purple;
            content: ' ';
            grid-area: purplebg;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: -1;
        }

        &::after {
            width: 50vw;
            z-index: -1;
            right: -50vw;
        }
    }

    .site-footer__contactform,
    .site-footer__contact {
        &::before {
            content: none;
        }
    }

    .site-footer__header {
        grid-area: header;
        padding-right: ($whitespace-medium * 3);
        padding-top: $whitespace-medium;
    }

    .site-footer__contactform {
        grid-area: form;
        padding-top: $whitespace-medium;
        padding-bottom: $whitespace-medium;
        padding-left: $whitespace-medium;
    }

    .site-footer form {
        margin-left: -($whitespace-medium * 2);
        color: black;
    }

    .site-footer__contact {
        grid-area: summary;
        padding-top: $whitespace-medium;
        padding-bottom: $whitespace-medium;
    }

    .site-footer__byline {
        grid-column: footer-start / footer-end;
        grid-row: 2;
    }
}
