html, body {
    font-family: 'effra', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.35rem;


    @media screen and (min-width: $desktop-large) {
        font-size: 2rem;
        line-height: 1.35rem;
    }
}

a {
    color: $purple;
}

h1, h2, h3 {
    line-height: 1.1;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: $tablet-portrait) {
        margin-bottom: 1.35rem;
    }

    &:not(:first-child) {
        margin-top: 1.35rem;
    }
}

h1 {
    font-size: 1.33rem;

    @media screen and (min-width: $tablet-portrait) {
        font-size: 2.33rem;
    }
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

    @media screen and (min-width: $tablet-portrait) {
        margin-bottom: 1rem;
    }
}

h3, 
.h3 {
    font-size: 1.33rem;
    margin-top: .5rem;
    margin-bottom: 1rem;

    @media screen and (min-width: $tablet-portrait) {
        margin-bottom: 1rem;
    }
}

h4 {
    font-size: 1.22rem;
}

time {
    font-size: .9rem;
}

.page-intro {
    font-size: 22px;
    line-height: 1.35rem;
}

.section-site-intro p:first-of-type {
    font-size: 1.33rem;
    line-height: 1.3;
}