$max-content-width: 1620px;

$bright-green: #B4F5D7; 
$bright-yellow: #E0F2C2; 
$bright-blue: #BAD6F7;
$white: #fff; 
$purple: #6F66AB;
$pink: #F2DAEE;

$list-svg-white: url('./../img/bullet-white.svg');
$list-svg-purple: url('./../img/bullet-purple.svg');


// data:image/svg+xml,\
// <svg width="12px" height="12px" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">\
// <path d="M0,16.252 C3.31461818,16.252 6.00087273,18.9382545 6.00087273,22.2528727 C6.00087273,\18.9382545 8.68538182,16.252 12,16.252 C8.68538182,16.252 6.00087273,13.5657455 6.00087273,\10.2511273 C6.00087273,13.5657455 3.31461818,16.252 0,16.252" transform="translate(0 -10)"\ fill="#FFF" fill-rule="evenodd"/>\
// </svg>

.test {
    color: $white;
    font: 14px / 1.7;
    color: rebeccapurple;
}