

@media screen and (min-width:900px){ 
    .mobile-only {
        display: none;
    }
}

.no-styling {
    float: none;
    display: inline-block; 
    padding: 0;
    margin: 0; 
    text-transform: none;
    font-weight: normal;
    background: transparent; 
    box-shadow: none;
    border: none;
    width: inherit;
    cursor: pointer;  
}

.a11y {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

ul {
    padding: 0 8%;
}

li {
    list-style-image: $list-svg-purple;
}

.ul-inline {
    list-style-type: none;
    padding: 0;
}

.ul-inline li {
    list-style-type: none;

    @media screen and (min-width: $tablet-portrait) {
        display: inline-block;
        padding-left: 30px;
    }
}
