.section-availability {
    background: $white;
    border: 2px solid $pink;
    padding: 1.5rem;

    footer {
        margin-top: 1rem;
    }

    @media screen and (min-width: $tablet-landscape) {
        padding: 2rem;
    }
}

.section-availability--mobile {
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;

    @media screen and (min-width: $tablet-portrait) {
        display: none;
    }
}

.availability__status::before {
    background: grey;
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;;
    margin-right: 10px;
    border-radius: 50%;
}

.availability__status--available::before {
    background: $status-green;
}

.availability__status--soon::before {
    background: $status-orange;
}

.availability__status--unavailable::before {
    background: $status-red;
}


.section-wetransfer {
    margin-top: 1rem;

    h2 {
        margin-bottom: 0;
    }
}

@media screen and (min-width: $tablet-portrait) {
    .section-wetransfer {
        font-size: $size-h6;
        line-height: 1.35;
    }
}