.blog-post__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: ($rhythmrem * 2);
}

@media screen and (min-width: $tablet-landscape) {
    .blog-post-grid {
        display: grid;
        grid-auto-columns: 4fr 1fr 19fr;
    }
}

.blog-post__title {
    flex: 1 1 auto;
    margin-bottom: 0;
}

.blog-post__save-button {
    color: $purple;
    background: white;
    text-decoration: underline;
    height: max-content;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;

    align-items: center;
    display: flex;
    justify-content: space-between;

    span {
        margin-left: 10px;
    }
}

.blog-post__image,
.blog-post__body img {
    height: auto;
    margin: 1.5rem auto;

    @media screen and (min-width: $tablet-portrait) {
        width: 100%;
        margin: $rhythmrem auto;
    }
}

.blog-post__body {
    grid-column: 3 / 4;
    grid-row: 1;
}

.blog-post__nav {
    margin-top: $rhythmrem;
    border-top: 1px solid $purple;
    padding: $whitespace-small 0 $whitespace-medium;

    @media screen and (min-width: $tablet-portrait) {
        border: 0;
        padding: 0;
        grid-column: 1 / 2;
        grid-row: 1;
        margin-top: 0;
    }
}

.next,
.prev { 
    width: 100%;
    text-align: center;
    line-height: ($rhythm * $size-h4);
}

.blog-post__tag-list {
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        display: inline-block;
    }
}

.blog-post__tag {
    display: inline-block;
    margin-right: $whitespace-small;
    margin-bottom: $whitespace-small;
    padding: 1px 5px;
    color: $purple;
    border: 1px solid $purple;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: $size-h6;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: $purple;
        color: $white;
        text-decoration: none;
    }
}

.tax__header--condense {
    margin: 0 -1rem;
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: $whitespace-tiny $rhythmrem 0;
    border-bottom: 1px solid $pink;
    border-top: 1px solid $pink;

    @media screen and (max-width: $tablet-portrait) {
        border: 0;
        padding: 0;
        display: inherit;
        margin: 0;

        + .post-list {
            display: none;
        }
    }
}

.post-list:target {
    display: block;
}