.site-footer__subtitle {
    font-size: $size-h3;
}

.site-footer__contactform,
.site-footer__contact {
    color: $white;

    a,
    a:hover,
    a:focus {
        color: $white;
        display: inline-block;
    }

    li {
        list-style-image: $list-svg-white;
    }
}

.site-footer__byline {
    padding: $rhythmrem;
    font-size: $size-h6;

    @media screen and (min-width: $tablet-portrait) {
        display: flex;
        justify-content: space-between;
        padding: $whitespace-medium $padding-left-and-right;
    }
}

.site-footer form {
    color: black;
    margin-top: $rhythmrem;
    background: white;
    border: 1px solid $pink;

    @media screen and (min-width: $tablet-portrait) {
        margin-top: 0;
    }
}

dl {
    margin-top: 0;
}

@media screen and (min-width: $tablet-landscape) {
    dl {
        margin-top: $rhythmrem;
    }
}

dt, dd {
    margin: 0;
    padding: 0;
}

dt {
    font-size: $size-h6;

    &:not(:first-child) {
        margin-top: $rhythmrem;
    }
}

dd {
    font-size: $size-h5;
    padding-bottom: #{$rhythm / 4}rem;
}