@media screen and (min-width: 51em){ 
    .navigation__ontoggle,
    .navigation__offtoggle {
        display: none;
    }
}

@media screen and (max-width: 51em) {
    .navigation__list {
        display: none;
    }

    .navigation__ontoggle,
    .navigation__offtoggle {
        align-items: center;
        background: $purple;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-radius: 50% 0 0 50%;
        display: flex;
        height: 56px;
        justify-items: center;
        padding: 5px;
        position: fixed;
        right: 0;
        top: 1rem;
        width: 40px;
        z-index: 10;
        
        .toggle-background {
            color: white;
            text-transform: uppercase;
            -webkit-transform: rotate(-90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(-90deg);  /* IE 9 */
                transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    .navigation__offtoggle {
        background: white;
        display: none;

        .toggle-background {
            color: $purple;
        }   
    }

    #menu-open:target .navigation__ontoggle {
        display: none;
    }

    #menu-open:target .mobile__navigation {
        z-index: 3;
        width: 100%;

        &::before {
            content: ' ';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($purple, .95);
            z-index: 3;
        }

        .navigation__offtoggle {
            display: flex;
            z-index: 4;
        }

        .navigation__list,
        .navigation__list li {
            display: block;
            z-index: 4;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
        }

        a:only-child {
            color: white;
            display: block;
            text-align: center;
            font-size: 1.8rem;
            padding: $whitespace-small;
            position: relative;
            text-decoration: none;

            &.current {
                background-color: $white;
                padding-bottom: $whitespace-medium;
                color: black;
            
                &::after {
                    content: ' ';
                    width: 20%;
                    bottom: $whitespace-small;
                    background: black;
                    position: absolute;
                    left: 40%;
                    height: 2px;
                }
            }
        }
    }
}

.ul-sub {
    background: white;
    border: 1px solid grey;
    display: none;
    position: absolute;
    left: 0;
    top: (1.35rem * 1.5);
    z-index: 2;
    text-align: left;
    width: 250px;

    li {
        padding: .625rem;
        list-style-type: none;
        list-style-position: inside;
        border-bottom: 1px solid grey;

        &:last-child  {
            border: 0;
        }
    }
}

.ul-inline {
    list-style-type: none;
    padding: 0;
}

.ul-inline > li {
    list-style-type: none;
    position: relative;

    @media screen and (min-width: $tablet-portrait) {
        display: inline-block;
        margin-left: $whitespace-medium;
    }
}
