.section-values h2 {
    text-align: center;

    @media screen and (min-width: $tablet-portrait) {
        text-align: left;
    }
}

@media screen and (min-width: $tiny-screen) {
    .section-values .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 $whitespace-large;
    }
}

@media screen and (min-width: $tablet-portrait) {
    .section-values .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $whitespace-large;
    }
}

.value {
    padding-top: $whitespace-small;
    text-align: center;

    @media screen and (min-width: $tablet-portrait) {
        font-size: .9rem;
        text-align: left;
    }
}

.value__title {
    margin-top: 0;
}