.section-values h2 {
    text-align: center;

    @media screen and (min-width: $tablet-portrait) {
        text-align: left;
    }
}

.value {
    padding-top: $whitespace-small;
    text-align: center;

    @media screen and (min-width: $tablet-portrait) {
        font-size: $size-h6;
        text-align: left;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: $tiny-screen) {
    .values__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 $whitespace-large;
    }
}

@media screen and (min-width: $tablet-portrait) {
    .values__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 $whitespace-large;
    }
}