.section-availability {
    z-index: 1;
    margin: 30px 0;
}

.availability__status::before {
    background: grey;
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;;
    margin-right: 10px;
    border-radius: 50%;
}

.availability__status--available::before {
    background: $status-green;
}

.availability__status--soon::before {
    background: $status-orange;
}

.availability__status--unavailable::before {
    background: $status-red;
}

.availability__content {
    background: $white;
    border: 2px solid $pink;
    border-bottom: none;
    padding: 30px;

    &:last-child {
        border-bottom: 2px solid $pink;
    }
}

.availability__psst {
    font-size: .9rem;
    line-height: inherit;
    margin-top: 20px;
}

@media screen and (min-width: $tablet-portrait) {
    .section-availability--mobile {
        display: none;
    }
}