.section-availability {
    z-index: 1;
    margin: $whitespace-medium 0;
}

.availability__status::before {
    background: grey;
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;;
    margin-right: 10px;
    border-radius: 50%;
}

.availability__status--available::before {
    background: $status-green;
}

.availability__status--soon::before {
    background: $status-orange;
}

.availability__status--unavailable::before {
    background: $status-red;
}

.section-availability {
    background: $white;
    border: 2px solid $pink;
    padding: 1.5rem;

    footer {
        margin-top: 1rem;
    }
}

.availability__psst {
    font-size: .9rem;
    line-height: inherit;
    margin-top: 1rem;
}

@media screen and (min-width: $tablet-portrait) {
    .section-availability--mobile {
        display: none;
    }
}