.section-availability {
    z-index: 1;
    margin: $whitespace-medium 0;
    background: $white;
    border: 2px solid $pink;
    padding: 1.5rem;

    footer {
        margin-top: 1rem;
    }

    @media screen and (min-width: $tablet-portrait) {
        padding: 1rem;
    }
}

.section-availability--mobile {
    margin-bottom: 0;
    margin-left: -$padding-left-and-right;
    margin-right: -$padding-left-and-right;
    margin-top: 0;

    @media screen and (min-width: $tablet-portrait) {
        display: none;
    }
}

.availability__status::before {
    background: grey;
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;;
    margin-right: 10px;
    border-radius: 50%;
}

.availability__status--available::before {
    background: $status-green;
}

.availability__status--soon::before {
    background: $status-orange;
}

.availability__status--unavailable::before {
    background: $status-red;
}

@media screen and (min-width: $tablet-portrait) {
    .section-wetransfer {
        font-size: .9rem;
        line-height: inherit;
        margin-top: 1rem;
    }
}