.blog-img img {
    background-color: grey;
    border-radius: 50%;
    border: 1px solid grey;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.question {
    background-color: $bright-green;
    color: black;
    padding: 20px;
}

.section-blogs {
    padding-top: 30px;
}
