.site-footer__contactform,
.site-footer__contact {
    margin-bottom: $whitespace-small;

    @media screen and (min-width: $tablet-portrait) {
        color: $white;

        a,
        a:hover,
        a:focus {
            color: $white;
        }

        li {
            list-style-image: $list-svg-white;
        }
    }


    ul {
        padding: 0 8%;
    }

    li {
        list-style-image: $list-svg-white;
    }
}

.site-footer__byline {
    padding: 15px $padding-left-and-right;
    font-size: .8rem;

    @media screen and (min-width: $tablet-portrait) {
        display: flex;
        justify-content: space-between;
    }
}

.site-footer form {
    border-top: 2px solid $pink;
    color: black;
    margin-top: 1.35rem;
}

dt, dd {
    margin: 0;
    padding: 0;
}

dt {
    font-size: .8rem;
    margin-top: 1.35rem;
}