@media screen and (max-width: $tablet-portrait) {
    .navigation__list {
        display: none;
    }

    .navigation__ontoggle,
    .navigation__offtoggle {
        background: $purple;
        border-radius: 50% 0 0 50%;
        display: block;
        height: 50px;
        position: absolute;
        right: -$whitespace-small;
        top: $whitespace-large;
        width: 50px;
        padding: 5px;

        div {
            color: white;
            margin-top: 15px;
            margin-right: 10px;
            -webkit-transform: rotate(-90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(-90deg);  /* IE 9 */
                transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    .navigation__offtoggle {
        background: white;
        display: none;

        div {
            color: $purple;
        }   
    }

    #html:target {
        //toediedoe
    }

    #menu-open:target .mobile__navigation {
        margin-top: 0;
        z-index: 3;

        &::before {
            content: ' ';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($purple, .95);
            z-index: 3;
        }

        .navigation__offtoggle,
        .navigation__list,
        .navigation__list li {
            display: block;
            z-index: 4;
        }

        a {
            text-decoration: none;
        }

        a:only-child {
            color: white;
            display: block;
            text-align: center;
            font-size: 1.8rem;
            padding: $whitespace-small;
        }
    }
}

.ul-sub {
    background: white;
    border: 1px solid grey;
    display: none;
    position: absolute;
    left: 0;
    top: (1.35rem * 1.5);
    z-index: 2;
    text-align: left;
    width: 250px;

    li {
        padding: .625rem;
        list-style-type: none;
        list-style-position: inside;
        border-bottom: 1px solid grey;

        &:last-child  {
            border: 0;
        }
    }
}

.ul-inline {
    list-style-type: none;
    padding: 0;
}

.ul-inline > li {
    list-style-type: none;
    position: relative;

    @media screen and (min-width: $tablet-portrait) {
        display: inline-block;
        margin-left: $whitespace-medium;

        a {
            padding-bottom: 1rem;
        }

        // &:hover,
        // &:focus {
        //     .ul-sub {
        //         display: block;
        //     }
        // }

        // &:focus-within {
        //     .ul-sub {
        //         display: block;
        //     }
        // }
    }
}

