.ul-sub {
    background: white;
    border: 1px solid grey;
    display: none;
    position: absolute;
    left: 0;
    top: (1.35rem * 1.5);
    z-index: 2;
    text-align: left;
    width: 250px;

    li {
        padding: .625rem;
        list-style-type: none;
        list-style-position: inside;
        border-bottom: 1px solid grey;

        &:last-child  {
            border: 0;
        }
    }
}

.ul-inline {
    list-style-type: none;
    padding: 0;
}

.ul-inline > li {
    list-style-type: none;
    position: relative;

    @media screen and (min-width: $tablet-portrait) {
        display: inline-block;
        margin-left: $whitespace-medium;

        a {
            padding-bottom: 1rem;
        }

        // &:hover,
        // &:focus {
        //     .ul-sub {
        //         display: block;
        //     }
        // }

        // &:focus-within {
        //     .ul-sub {
        //         display: block;
        //     }
        // }
    }
}

