.service { 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet-portrait) {
        margin-bottom: 0;
    }
}

.service__title {
    margin-top: 0;
}

.service-1 {
    background-color: $bright-green; 
}

.service-2 {
    background-color: $bright-yellow; 
}

.service-3 {
    background-color: $bright-blue; 
}

.service-4 {
    background-color: $bright-green; 

    @media screen and (min-width: $tablet-portrait) {
        background-color: $white;
    }
}

.service-5 {
    background-color: $bright-yellow; 

    @media screen and (min-width: $tablet-portrait) {
        background-color: $white;
    }
}

.service-6 {
    background-color: transparent;
    padding: 0px;
    margin-bottom: 0;

    p:last-child {
        margin-top: 0;
    }

    @media screen and (min-width: $tablet-portrait) {
        padding: 30px;
    }
}

.service:not(.service-6) p:last-child {
    margin-top: auto;
    margin-bottom: 0;
}