.section-values .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 $whitespace-large;
}

.value {
    padding-top: $whitespace-small;
    font-size: .9rem;
}

.value__title {
    font-size: 1.22rem;
    margin-top: 0;
}