.section-values .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.value {
    padding-top: $whitespace-small;
    padding-right: $whitespace-large;
    font-size: .9rem;

    &:nth-child(3n + 3) {
        padding-right: 0;
    }
}
