@import 
    'basics/variables', 
    'basics/mediaqueries',
    'basics/general',
    'basics/typography',
    'basics/forms',
    'basics/grid';

@import 
    'sections/services',
    'sections/footer',
    'sections/navigation',
    'sections/blog',
    'sections/values',
    'sections/referrals',
    'sections/availability';


// hide elements on the live/production environment
html.prod-env {
    .langswitcher {
        display: none;
    }
}

.readmore {
    position: relative;
    display: inline-block;
}

.readmore:before {
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 5px;
    background: black;
    position: relative;
    top: 2px;
    content: "";
}

.readmore--light::before {
    background: $link-svg-white transparent no-repeat center center;
}

.readmore--dark::before {
    background: $link-svg-purple transparent no-repeat center center;
}