
{% if truncate %}
    <section class="section-availability--mobile">
        <h2>Beschikbaarheid</h2>
        {{ site.availability }}
    </section>
{% else %}
<section class="section-availability">
    <div class="availability__content">
        <header>
            <h2  class="availability__title">Beschikbaarheid</h2>
            <p class="availability__status availability__status--{{ 'SITE.availabilitystatus'|t }}">
                <span class="a11y">Huidige status:</span> 
                {{ 'SITE.availabilitystatus'|t }}
            </p>
        </header>
        {{ site.availability }}
    </div>
    {% if page.template != 'contact' %}
        <footer>
            <a class="buttonlike" href="#contactform">
                <span class="a11y">Weet je een leuke opdracht?</span> 
                Neem contact met me op
            </a>
            <h3>Spoedklus?</h3>
            <a href="https://www.wetransfer.com/?to=mail@annekesinnema.nl&msg=Bij%20vragen%20kun%20je%20me%20bereiken%20op%20telefoonnummer%20...%20.%20Mijn%20naam%20is%20..." data-text="Op naar WeTransfer!">Stuur me je bestanden via WeTransfer!</a> 
            <br />
            Ik e-mail je terug met een offerte.
        </footer>
    {% endif %}
</section>
{% endif %}