<header class="site-header">
    <div class="site-header__title">
        <a href="{{ base_url == '' ? '/' : base_url }}" aria-hidden="true" class="logo">
            <img src="{{ url('theme://images/logo.png') }}" width="66" height="66" alt="" />
        </a>
        <h1><a href="{{ base_url == '' ? '/' : base_url }}">
            {{ site.title }}
        </a></h1>
    </div>
    {% include 'partials/navigation.html.twig' %}
</header>