<header class="site-header">
    <div>
        <img alt="logo" width="50" height="50" />
        <h1>
            <a id="title" href="{{ base_url == '' ? '/' : base_url }}">
                {{ site.title }}
            </a>
        </h1>

        {% if config.plugins.langswitcher.enabled %}
            {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
    </div>
    {% include 'partials/navigation.html.twig' %}
</header>