<blockquote class="reference">
    <p class="reference__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <footer>
        <span aria-hidden="true">--</span>
        <cite class="reference__source">Mike[tm]Smith</cite>
    </footer>
</blockquote>