<section class="section-services">
<h2 class="services-title">{{ 'servicesheader'|t }}</h2>
    <div class="grid">
        {% set services_collection = page.find('/services').children.published %}
        {% for service in services_collection %}
            {% include 'partials/service-item.html.twig' with {'number': loop.index} %}
        {% endfor %}
    </div>
</section>