
{% set testimonial_collection = page.find('/testimonials').children.published %}
{% if testimonial_collection|length > 0 %}
<section class="section section-testimonials">
    <h2 class="testimonials__title">{{ 'testimonialsheader'|t }}</h2>

    <div class="testimonials__grid">
        {% for testimonial in testimonial_collection|slice(0,2) %}
            {% include 'partials/testimonials-item.html.twig' with {'number': loop.index} %}
        {% endfor %}
    </div>
</section>
{% endif %}