<section class="section-values">
    <h2 class="values__title">{{ 'valuesheader'|t }}</h2>
    <div class="grid">
        {% set values_collection = page.find('/about').children.published %}
        {% for value in values_collection %}
            {% include 'partials/value-item.html.twig' with {'number': loop.index} %}
        {% endfor %}
    </div>
</section>