.form-input-wrapper,
.form-textarea-wrapper {
    position: relative;
    border-top: 0;

    @media screen and (min-width: $tiny-screen) {
        padding:  ($rhythmrem / 3) ($rhythmrem / 2);
    }
}

.input,
label {
    background-color: white;
    color: $dark-purple;
    display: block;
    border-radius: 0;
    -moz-appearance: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    padding:  ($rhythmrem / 3) ($rhythmrem / 2);

    &:focus {
        color: black;
    }
}

.form-input-wrapper:focus-within label,
.form-textarea-wrapper:focus-within label {
    color: black;
}

.input {
    border: 1px solid $dark-purple;
    margin-bottom: 3px;

    &:focus {
        border: 1px solid $default-text-color;
        border-bottom: 4px solid $default-text-color;
        margin-bottom: 0;
        outline: none;
    }

    &:hover {
        background-color: $pink;
    }
}

@media screen and (min-width: $tiny-screen) {
    label {
        padding: .45rem 0;
    }
}

textarea {
    resize: vertical;
    vertical-align: top;
    overflow: auto;
}

[type="submit"] {
    background-color: #8378c9;  
    background: linear-gradient(#8378c9 0%, #635b99 100%);
    border: 2px solid $purple;
    color: white;
    display: block;      
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin-top: 0;
    padding: ($rhythmrem / 4) ($rhythmrem / 2);
    text-align: center; 
    text-decoration: none;
    transform: none;
    width: 100%;

    &:active,
    &:hover,
    &:focus {
        color: white;
        text-decoration: none;  
        background-color: #635b99;
        background: linear-gradient(#635b99 0%, #8378c9 100%);
    }

    &:visited {
        color: white;

        span:last-child::after {
            content: ' yes';
        }
    }
}

.form-field--checkboxes {
    .form-input-wrapper {
        border: 0;
    }
}

.form-field--checkboxes {
    border-left: 1px solid $pink;
}

.checkbox-label,
.checkbox-text {
    font-size: $size-h6;
    padding: ($rhythmrem / 3) ($rhythmrem / 2);

    @media screen and (min-width: $tiny-screen) {
        padding: ($rhythmrem / 4) 0;
    }
}

.checkbox-label {
    &:hover,
    &:focus {
        background: $pink;
    }

    &:focus-within {
        background: $pink;
        box-shadow: 0px 0px 2px 3px $purple;
        overflow-y: visible;
        z-index: 1;
    }
}