html, body {
    margin: 0;
    padding: 0;
}    

.container {
    margin: 0 auto;
    width: 100%; 

    @media screen and (min-width: $desktop-small) {
        max-width: #{'calc(100% - 12vw)'};
    }
}

.site-header {
    display: flex; 
    flex-direction: column;
}

.site-header__title {
    display: flex;
    align-items: center;
    padding: $rhythmrem;

    @media screen and (min-width: $tablet-portrait) {
        padding: 0;
    }

    .logo {
        margin-right: $whitespace-small;  
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.site-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    padding: $rhythmrem;

    @media screen and (min-width: $tablet-portrait) {
        padding: 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.section-services {
    position: relative;
    background-color: $light-blue;
}

.side-content {
    padding: ($rhythmrem * 2) $rhythmrem $rhythmrem $rhythmrem;
}

.section-testimonials {
    padding: 0;
}

.side-content--post,
.side-content--post-list {
    background-color: $light-blue;
    position: relative;
    top: $whitespace-small;

    @media screen and (min-width: $tablet-portrait) {
        background-color: transparent;
        padding: 0;
        top: 0;
        position: inherit;
    }
}

.site-footer__header,
.site-footer__contact {
    padding: $rhythmrem;
}

.site-footer__contact {
    color: white;
    background: $purple;
    position: relative;
}

@media screen and (max-width: 52.5em) {
    .services__grid {
        grid-gap: 0 .5rem;
    }
}

@media screen and (min-width: $tablet-portrait) {

    .logo svg {
        width: 3rem;
        height: 3rem;
    }

    .value__icon {
        height: 3rem;
        width: auto;
    }
    
    .site-main {
        grid-template-rows: auto;
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: 1fr;
        grid-template-columns:
            [main-start] 
                1fr
            [main-end];
    }

    .main-content {
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: $padding-left-and-right 25fr 2fr;
        grid-template-columns: 
            [servicebg-start] 
                $padding-left-and-right
            [main-start content-start values-start] 
                25fr
            [content-end values-end]
                2fr 
            [servicebg-end];
        grid-template-rows: auto;
    }

    .site-header {
        justify-items: flex-end;
        flex-direction: row;
        padding: $rhythmrem $padding-left-and-right $rhythmrem;
    }

    .main-area {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: main;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .section-usercontent,
    .section-services {
        background: transparent;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: content;
        -ms-grid-row: auto;
        grid-row: auto;
    }

    .bg-services {
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-area: servicebg;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        background-color: $light-blue;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 35% 20%;
        position:relative;
    }

    .section {
        padding: $whitespace-large 0;
    }

    .section-usercontent {
        padding-top: 0;
    }
    
    .section-services {
        -ms-grid-row: 2;
        grid-row: 2;
        position: relative;
        padding-top: $whitespace-large;
        padding-bottom: $whitespace-large;

        &::before {
            content: none;
        }
    }
        
    .services__grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 14fr 1fr 14fr;
        grid-template-columns: 14fr 1fr 14fr;
        -ms-grid-rows: repeat(2, min-content $whitespace-medium $whitespace-medium $whitespace-medium) min-content;
        grid-template-rows: repeat(2, min-content $whitespace-medium $whitespace-medium $whitespace-medium) min-content;
        grid-template-areas: 
            "service-1 . service-2"
            " .        . service-2"
            "service-3 . service-2"
            "service-3 . .        "
            "service-3 . service-4"
            "service-3 . service-4"
            " .        . .        "
            "service-5 . service-6"
            "service-5 . service-6";
        }

        .service-1 {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;

            grid-area: service-1;
        }

        .service-2 {
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 3;
            
            grid-area: service-2;
        }

        .service-3 {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 3;
            -ms-grid-row-span: 4;

            grid-area: service-3;
        }

        .service-4 {
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            -ms-grid-row: 5;
            -ms-grid-row-span: 2;
            
            grid-area: service-4;
        }

        .service-5 {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 9;
            -ms-grid-row-span: 2;

            grid-area: service-5;
        }

        .service-6 {
            -ms-grid-column: 3;
            -ms-grid-column-span: 1;
            -ms-grid-row: 9;
            -ms-grid-row-span: 2;

            grid-area: service-6;
        }

    .section-values {
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-column: values;
        grid-row: 3;
    }

    .list-values  {
        padding-left: 0;
    }

    .site-footer {
        background: $purple;
        color: $white;
        position: relative;
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: 24fr 1fr 23fr;
        grid-template-columns: 
            [header-start footer-start] 
                24fr
            [header-end] 
                1fr
            [summary-start] 
                23fr
            [summary-end footer-end];
    }

    .site-footer__header {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-area: header;
        grid-row: 1;
        padding-right: ($whitespace-medium * 3);
        padding-left: $padding-left-and-right;
    }

    .site-footer__contact h3 {
        display: none;
    }

    .site-footer__contact { 
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        padding-top: $whitespace-medium;
        padding-bottom: $whitespace-medium;
        grid-column: 3 / 5;
    }

    .site-footer__byline {
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-column: footer-start / footer-end;
        grid-row: 2;
    }

    .side-content {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-column-span: 1;
        grid-area: main;
        grid-row: 2;
        padding: $whitespace-large $padding-left-and-right;
    } 

    .side-content--post-list,
    .side-content--post {
        position: relative;
    }

    .widget__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .widget__column {
        margin-bottom: $rhythmrem;
    }

    .page--post-list,
    .page--post {
        .bg-sidecontent {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 2;
            grid-area: main;
            grid-row: 2;
            background-color: $light-blue;
            z-index: -1;
            width: 100%;
            border-bottom-right-radius: 40%;
            position: relative;
        }
    }
}
 
@media screen and (min-width: $tablet-landscape) {
    .site-main {
        grid-template-rows: auto;
        display: -ms-grid;
        display: grid; 
        margin-bottom: $whitespace-large;
        -ms-grid-columns: 27fr ($rhythmrem * 2) 13fr;
        grid-template-columns: 
            [main-start] 
                27fr
            [main-end] 
                ($rhythmrem * 2)
            [sidebar-start] 
                minmax(250px, 13fr)
            [sidebar-end];
    }

    .main-content {
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: $padding-left-and-right 25fr;
        grid-template-columns: 
            [servicebg-start] 
                $padding-left-and-right
            [main-start content-start values-start] 
                25fr
            [content-end values-end servicebg-end];
        grid-template-rows: auto;
        height: 100%;
    }

    .site-navigation  {
        margin-left: auto;
        text-align: right;
        text-transform: none;
    }

    .navigation__list-item {
        margin-left: 0;
    }

    .bg-services {
        width: 120%;
    }

    .page--post,
    .page--post-list {
        .bg-sidecontent {
            -ms-grid-column: 3;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;

            grid-column: 3 / 5;
            grid-row: 1 / 2;
            background-color: $light-blue;
            z-index: -1;
            width: 100%;
            height: 22rem;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 0;
            position: relative;
            top: 0em;
        }
    }

    .site-footer {
        background: transparent;
        color: inherit;
        position: relative;
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: 20fr 1fr 21fr;
        grid-template-columns: 
            [header-start footer-start] 
                20fr
            [header-end summary-start purplebg-start] 
                1fr
                21fr
            [summary-end footer-end purplebg-end];
    }

    .site-footer__header {
        color: inherit;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: header;
    }

    .bg-sitefooter {
        background: $purple;
        -ms-grid-column: 2;
        -ms-grid-column-span: 4;
        grid-area: purplebg;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: -1;
    }

    .site-footer__contact {
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        grid-area: summary;

        h3 {
            display: block;
        }
    }

    .side-content {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-area: sidebar;
        -ms-grid-row: 1;
        grid-row: 1;
        padding: 0 $padding-left-and-right 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .side-content--post-list,
    .side-content--post {
        justify-content: flex-start;
        padding: 0 4rem
    }

    .widget__grid {
        display: inherit;
    }
}

@media screen and (min-width: $desktop-small) {
    .site-main {
        grid-template-rows: auto;
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: 27fr 2fr 11fr;
        grid-template-columns: 
            [main-start] 
                27fr
            [main-end] 
                minmax(2.77rem, 2fr) 
            [sidebar-start] 
                minmax(250px, 12fr)
            [sidebar-end];
    }

    .main-content {
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: $padding-left-and-right 25fr 2fr;
        grid-template-columns: 
            [servicebg-start] 
                $padding-left-and-right
            [main-start content-start values-start] 
                25fr
            [content-end] 
                2fr
            [values-end servicebg-end];
        grid-template-rows: auto;
    }
}

@media screen and (min-width: $desktop-small) {
    .bg-services::after,
    .page--post .bg-sidecontent::after,
    .page--post-list .bg-sidecontent::after,
    .bg-sitefooter::after {
        content: ' ';
        position: absolute;
        right: -6vw;
        width: 6vw;
        background-color: $light-blue;
        display: block;
        top: 0;
        height: 100%;
    }

    .bg-services::after {
        right: auto;
        left: -6vw;
    }

    .bg-sitefooter::after {
        background-color: $purple;
    }
}
