html, body {
    margin: 0;
    padding: 0;
}    

.container {
    margin: 0 auto;
    width: 100%; 

    @media screen and (min-width: $tablet-portrait) {
        max-width: $max-content-width;
    }
}

.site-header {
    display: flex; 
    flex-direction: column;
}

.site-header__title {
    display: flex;
    align-items: center;
    padding: $rhythmrem;

    @media screen and (min-width: $tablet-portrait) {
        padding: 0;
    }

    .logo {
        margin-right: $whitespace-small;  
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.site-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    padding: $rhythmrem;

    @media screen and (min-width: $tablet-portrait) {
        padding: 0;
    }
}

.section-services {
    position: relative;
    background-color: $light-blue;
}

.side-content {
    padding: ($rhythmrem * 2) ($rhythmrem * 2) $rhythmrem ($rhythmrem * 2);
}

.side-content--page,
.side-content--contact {
    background-color: $light-blue;
    padding: $rhythmrem;
    border-bottom-right-radius: 50% 35%;

    @media screen and (min-width: $tablet-portrait) {
        background-color: transparent;
        padding: 0;
    }
}

.side-content--post,
.side-content--post-list {
    background-color: $light-blue;
    position: relative;
    top: $whitespace-small;

    @media screen and (min-width: $tablet-portrait) {
        background-color: transparent;
        padding: 0;
        top: 0;
        position: inherit;
    }

    h2 {
        margin-top: 0;
    }
}

.site-footer__header,
.site-footer__contactform,
.site-footer__contact {
    padding: $rhythmrem;
}

.site-footer__contactform,
.site-footer__contact {
    color: white;
    background: $purple;
    position: relative;
}

.site-footer__contactform {
    padding-top: $whitespace-medium;
    padding-bottom: 0;
}

@media screen and (max-width: 52.5em) {
    .services__grid {
        grid-gap: 0 .5rem;
    }
}

@media screen and (min-width: $tablet-portrait) {
    .site-main {
        grid-template-rows: auto;
        display: grid; 
        grid-template-columns:
            [main-start] 
                1fr
            [main-end];
    }

    .main-content {
        display: grid; 
        grid-template-columns: 
            [servicebg-start] 
                $padding-left-and-right
            [main-start content-start values-start] 
                25fr
            [content-end values-end]
                2fr 
            [servicebg-end];
        grid-template-rows: auto;
    }

    .site-header {
        justify-items: flex-end;
        flex-direction: row;
        padding: $rhythmrem $padding-left-and-right $rhythmrem;
    }

    .main-area {
        grid-area: main;
        grid-row: 1;
    }

    .section-usercontent,
    .section-services {
        background: transparent;
        grid-area: content;
        grid-row: auto;
    }

    .bg-services {
        grid-area: servicebg;
        grid-row: 2 / 3;
        background-color: $light-blue;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 35% 20%;
    }

    .section {
        padding: $whitespace-medium 0;

        .main-content &:nth-child(2) {
            padding-top: 0;
        }
    }

    .section-services {
        grid-row: 2;
        position: relative;
        padding-top: $whitespace-large;
        padding-bottom: $whitespace-large;

        &::before {
            content: none;
        }
    }
        
    .services__grid {
        display: grid;
        grid-template-columns: 14fr 1fr 14fr;
        grid-template-rows: repeat(2, min-content $whitespace-medium $whitespace-medium $whitespace-medium) min-content;
        grid-template-areas: 
            "service-1 . service-2"
            " .        . service-2"
            "service-3 . service-2"
            "service-3 . .        "
            "service-3 . service-4"
            "service-3 . service-4"
            " .        . .        "
            "service-5 . service-6"
            "service-5 . service-6";
        }

        .service-1 {
            grid-area: service-1;
        }

        .service-2 {
            grid-area: service-2;
        }

        .service-3 {
            grid-area: service-3;
        }

        .service-4 {
            grid-area: service-4;
        }

        .service-5 {
            grid-area: service-5;
        }

        .service-6 {
            grid-area: service-6;
        }

    .section-values {
        grid-column: values;
        grid-row: 3;
    }

    .list-values  {
        padding-left: 0;
    }

    .site-footer {
        background: $purple;
        color: $white;
        position: relative;
        display: grid; 
        grid-template-columns: 
            [header-start footer-start] 
                24fr
            [header-end] 
                1fr
            [summary-start] 
                23fr
            [summary-end footer-end];
    }

    .site-footer__header {
        grid-area: header;
        grid-row: 1;
        padding-right: ($whitespace-medium * 3);
        padding-left: $padding-left-and-right;
    }

    .site-footer__contactform,
    .site-footer__contact h3 {
        display: none;
    }

        .site-footer form { 
            color: black;
            margin-left: -($whitespace-medium * 2);
        }

    .site-footer__contact { 
        padding-top: $whitespace-medium;
        padding-bottom: $whitespace-medium;
        grid-column: 3 / 5;
    }

    .site-footer__byline {
        grid-column: footer-start / footer-end;
        grid-row: 2;
    }

    .side-content {
        grid-area: main;
        grid-row: 2;
        padding: $whitespace-large $padding-left-and-right;
    } 

    .side-content--post-list,
    .side-content--post {
        position: relative;
    }

    .widget__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .widget__column {
        margin-bottom: $rhythmrem;
    }

    .page--post-list,
    .page--post {
        .bg-sidecontent {
            grid-area: main;
            grid-row: 2;
            background-color: $light-blue;
            z-index: -1;
            width: 100%;
            border-bottom-right-radius: 40%;
            position: relative;
        }
    }
}
 
@media screen and (min-width: $tablet-landscape) {
    .site-main {
        grid-template-rows: auto;
        display: grid; 
        margin-bottom: $whitespace-large;
        grid-template-columns: 
            [main-start] 
                27fr
            [main-end] 
                ($rhythmrem * 2)
            [sidebar-start] 
                13fr
            [sidebar-end];
    }

    .main-content {
        display: grid; 
        grid-template-columns: 
            [servicebg-start] 
                $padding-left-and-right
            [main-start content-start values-start] 
                25fr
            [content-end values-end servicebg-end];
        grid-template-rows: auto;
    }

    .site-navigation  {
        margin-left: auto;
        text-align: right;
        text-transform: none;
    }

    .navigation__list-item {
        margin-left: 0;
    }

    .bg-services {
        width: 120%;
    }

    .page--post,
    .page--post-list {
        .bg-sidecontent {
            grid-column: 2 / 5;
            grid-row: 1 / 2;
            background-color: $light-blue;
            z-index: -1;
            width: 100%;
            height: 22rem;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 0;
            position: relative;
            top: -2rem;
        }
    }

    .site-footer {
        background: transparent;
        color: inherit;
        position: relative;
        display: grid; 
        grid-template-columns: 
            [header-start footer-start] 
                14fr
            [header-end form-start purplebg-start] 
                1fr
                12fr     
            [form-end]  
                1fr
            [summary-start] 
                14fr
            [summary-end footer-end purplebg-end];
    }

    .site-footer__header {
        color: inherit;
        grid-area: header;
    }

    .bg-sitefooter {
        background: $purple;
        grid-area: purplebg;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: -1;
    }

    .site-footer__contactform {
        display: block;
        grid-area: form;
        padding-top: $whitespace-medium;
        padding-bottom: $whitespace-medium;
        padding-left: $whitespace-medium;
        padding-right: 0;
    }

    .site-footer__contact {
        grid-area: summary;

        h3 {
            display: block;
        }
    }

    .side-content {
        grid-area: sidebar;
        grid-row: 1;
        padding: 0 $padding-left-and-right 0 0;
        justify-content: space-between;
    }

    .widget__grid {
        display: inherit;
    }
}

@media screen and (min-width: $desktop-small) {
    .site-main {
        grid-template-rows: auto;
        display: grid; 
        grid-template-columns: 
            [main-start] 
                27fr
            [main-end] 
                minmax(2.77rem, 2fr) 
            [sidebar-start] 
                11fr
            [sidebar-end];
    }

    .main-content {
        display: grid; 
        grid-template-columns: 
            [servicebg-start] 
                $padding-left-and-right
            [main-start content-start values-start] 
                25fr
            [content-end] 
                2fr
            [values-end servicebg-end];
        grid-template-rows: auto;
    }
}











