$tiny-screen: 25em; // 400px
$tablet-portrait: 47.75em; // 764px
$tablet-landscape: 64em;
$desktop-small: 81em; // 1200px // 
    // was 87.5em; // 1400px
$desktop: 100em; // 1600px
$desktop-large: 120em; // 2000px

// show the current most prevalent media query 
html.dev-env::after {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    padding: 10px;
    color: white;
    content: 'default';
    z-index: 10;

    @media screen and (min-width: $tiny-screen) {
        content: 'tiny-screen'
    }
    @media screen and (min-width: $tablet-portrait) {
        content: 'tablet-portrait'
    }
    @media screen and (min-width: $tablet-landscape) {
        content: 'tablet-landscape'
    }
    @media screen and (min-width: $desktop-small) {
        content: 'desktop-small'
    }
    @media screen and (min-width: $desktop) {
        content: 'desktop'
    }
    @media screen and (min-width: $desktop-large) {
        content: 'desktop-large'
    }
}