$tablet-portrait: 47.75em; // 640px
$tablet-landscape: 75em; // 1200px
$desktop-small: 87.5em; // 1400px
$desktop: 100em; // 1600px
$desktop-large: 120em; // 2000px

// show the current most prevalent media query 
html.dev-env::after {
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    padding: 10px;
    color: white;

    @media screen and (min-width: $tablet-portrait) {
        content: 'tablet-portrait'
    }
    @media screen and (min-width: $tablet-landscape) {
        content: 'tablet-landscape'
    }
    @media screen and (min-width: $desktop-small) {
        content: 'desktop-small'
    }
    @media screen and (min-width: $desktop) {
        content: 'desktop'
    }
    @media screen and (min-width: $desktop-large) {
        content: 'desktop-large'
    }
}