html {
    font-size: 18px;

    // @media screen and (min-width: $tablet-landscape) {
    //     font-size: 18px;
    // } 

    @media screen and (min-width: $desktop) {
        font-size: 25px;
    }

    @media screen and (min-width: $desktop-large) {
        font-size: 30px;
    }
}

body {
    font-family: 'effra', Arial, Helvetica, sans-serif;
    font-size: 1rem !important;
    line-height: 1.35;
}

a {
    color: $purple;
    text-decoration-skip: ink;

    &:hover,
    &:focus {
        text-decoration: underline double;
    }
}

h1, h2, h3, h4 {
    // line-height: 1.3;
    font-weight: normal;
    margin-top: 0;

    @media screen and (min-width: $tablet-portrait) {
        margin-bottom: 1.35rem;
    }

    &:not(:first-child)   {
        margin-top: 1.35rem;
    }
}

h1 {
    font-size: inherit;
}

h2,
.values__title { 
    font-size: 2.1rem;
}

h3 { 
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h3,
.side-content h2,
.value__title,
.section-usercontent > p:first-of-type {
    font-size: 1.2rem;
}

h4 {
    margin-bottom: .5rem;
}

h5,
.side-content h4 {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.35;
}

time {
    font-size: .9rem;
} 

p { 
    margin-top: 0;
    margin-bottom: 1rem;
    max-width: 72ch;

    &:empty {
        margin-bottom: 0;
    }
}

.readmore {
    position: relative;
    display: inline-block;
}

.readmore:before {
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 5px;
    background: black;
    position: relative;
    top: 2px;
    content: " ";
}

.readmore--light::before {
    background: $link-svg-white transparent no-repeat center center;
}

.readmore--dark::before {
    background: $link-svg-purple transparent no-repeat center center;
}
