html {
    font-size: 18px;

    @media screen and (min-width: $tablet-portrait) {
        font-size: 112.5%;
    } 

    @media screen and (min-width: $desktop) {
        font-size: 156.25%;
    }

    @media screen and (min-width: $desktop-large) {
        font-size: 187.5%;
    }
}

body {
    font-family: 'effra', Arial, Helvetica, sans-serif;
    font-display: swap;
    font-size: 1rem !important;
    line-height: $rhythm;
}

a {
    color: $purple;
    text-decoration-skip: ink;

    &:hover,
    &:focus {
        text-decoration: underline double;
    }
}

//////

$size-h2 : 2rem;
$size-h3 : 1.33rem;
$size-h4 : 1.22rem;
$size-h5 : 1.11rem;
$size-h6 : 0.9rem;

h2, h3, h4, h5 {
    font-family: inherit;
    font-style: inherit;
    font-weight: normal;
    line-height: $rhythm;
}

h1 {
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

h2,
.widget__title--categories {
    font-size: $size-h2; 
    margin-top: #{$rhythm * 1.5}rem;
    margin-bottom: #{$rhythm}rem;
}

h3,
.availability__title {
    font-size: $size-h3;  
    margin-top: #{$rhythm}rem;
    margin-bottom:#{$rhythm / 2}rem;
}

h4,
.user-content p:first-of-type {
    font-size: $size-h4;  
    margin-top: #{$rhythm / 2}rem;
    margin-bottom:#{$rhythm / 3}rem;
}

h5 {
    font-size: $size-h5;  
    margin-top: #{$rhythm / 3}rem;
    margin-bottom:#{$rhythm / 4}rem;
}

main h2:first-child,
.availability__title,
.site-footer__title {
    margin-top: 0;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: #{$rhythm / 2}rem;
}

blockquote {
    font-size: $size-h3;
    width: 80%;
    margin: 2rem auto 1.5rem auto;
        
    &::before {
        background: black;
        height: 1px;
        content: ' ';
        display: block;
        width: 50%;
        position: relative;
        left: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: $tablet-landscape) {
    blockquote {
        width: 50%;
    }
}

ul ul, 
ol ol, 
ul ol, 
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

b, strong, em, small, code {
    line-height: $rhythm;
}

time {
    font-size: $size-h6;
} 

p { 
    margin-top: 0;
    margin-bottom: #{$rhythm}rem;  

    &:empty {
        margin-bottom: 0;
    }
}

.readmore {
    position: relative;
    display: inline-block;
}

.readmore:before {
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 7px;
    position: relative;
    top: 2px;
    content: " ";
}

.readmore--light::before {
    background: $link-svg-white transparent no-repeat center center;
}

.readmore--dark::before {
    background: $link-svg-purple transparent no-repeat center center;
}

pre {
    padding: $whitespace-small 0;
    margin: 0;

    @media screen and (min-width: $tablet-portrait) {
        padding: $whitespace-small;
    }

    &::before,
    &::after {
        border-top: 1px solid $red;
        color: $red;
        height: 1px;
        content: ' ';
        display: block;
        width: 50%;
        position: relative;
        left: 0;
    }

    &::before {
        content: 'Code ';
        font-family: 'effra', Arial, Helvetica, sans-serif;
        color: $red;
        font-size: $size-h6;
        top: -2rem;
        padding-top: 1rem;
    }

    &::after {
        bottom: -1rem;
        padding-bottom: 1rem;
    }
}

code {
    color: $red;
    font-size: inherit;
    display: block;
    word-break: break-word;
}