@media screen and (min-width: $tablet-portrait){ 
    .mobile-only {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

.no-styling {
    float: none;
    display: inline-block; 
    padding: 0;
    margin: 0; 
    text-transform: none;
    font-weight: normal;
    background: transparent; 
    box-shadow: none;
    border: none;
    width: inherit;
    cursor: pointer;  
    list-style-type: none;
}

.a11y {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

:focus {
    outline-offset: 4px;
    z-index: 100;
}

ul {
    padding: 0 8%;
}

li {
    list-style-image: $list-svg-purple;
}

.post-list {
    padding: 0;
}

.post-list li {
    list-style-type: none;
    list-style-image: none;

    ::before {
        background: $link-svg-purple transparent no-repeat center center;
        display: inline-block;
        width: 7px;
        height: 14px;
        margin-right: 7px;
        position: relative;
        top: 2px;
        content: " ";
    }
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
    
    &:focus,
    &:active {
        color: #fff;
        background-color:#000;
        left: auto;
        top: auto;
        width: 30%;
        height: auto;
        overflow:auto;
        margin: 10px 35%;
        padding:5px;
        border-radius: 15px;
        border:4px solid yellow;
        text-align:center;
        font-size:1.2em;
        z-index:999;
    }
}