{% extends 'partials/base.html.twig' %}

{% block content %}
    {% if page.header.a11ytitle %}
        <h2>{{ page.header.a11ytitle }}</h2>
    {% endif %}
    
    {{ page.content }}
{% endblock %}
